@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background-primary: #09bb53;
		--background-secondary: rgba(255, 255, 255, 0.1);
	}

	body {
		font-family: 'Roboto';
		color: #fff;
	}

	a {
		color: #fff;
	}

	@keyframes show {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes hide {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	@keyframes fade {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
		}
	}
}
